SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:postgresql://localhost:5432/orchedule
DB_USERNAME=change_me
DB_PASSWORD=change_me

SERVER_PORT=8080
LOG_SQL_LEVEL=info

POSTGRES_DB=orchedule
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432