spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/orchedule
    username: your_local_username
    password: your_local_password

  jpa:
    hibernate:
      ddl-auto: validate

logging:
  level:
    org.hibernate.SQL: debug